# Python Variable

In [1]:
quantity = 200 #integer
temp = 45.8 #floating point
course = "Python" # string
arr = [20,30] #list

print(quantity)
print(temp)
print(course)
print(arr)

200
45.8
Python
[20, 30]

In [54]:
number = input("Enter a number or type stop: ")
print(type(number))

Enter a number or type stop: 5
<class 'str'>

In [49]:
i =10
print(type(i))

<class 'int'>

In [2]:
print(type(quantity))

<class 'int'>

In [52]:
_time = '10.5'
print(_time)
print(type(_time))

10.5
<class 'str'>

In [55]:
a=10
type(a)

int

In [57]:
isinstance(10,int)

True

In [59]:
isinstance(10.5,float)

True

In [67]:
fruit_names = ['pear', 'apple', 'banana', 'orange','grapes']
fruit_colours = ['green', 'red', 'yellow', 'orange']

In [74]:
y= zip(fruit_names, fruit_colours)
# print(tuple(y))
y

In [81]:
y= zip(fruit_names, fruit_colours)
print(tuple(y))

(('pear', 'green'), ('apple', 'red'), ('banana', 'yellow'), ('orange', 'orange'))

# Boolean Datatype

In [75]:
b=True
type(b)
a=10
b=20
c=a<b
print(c)

True

In [76]:
print(True+True)
print(True-False)

2
1

# String

In [15]:
s1='''MMCOE
 College of Engineering'''
s1="""MMCOE
 College of Engineering"""

# 7. Deleting the Variable

In [6]:
Location = "New York"
print(Location)
del Location
print("Location variable is deleted")
print(Location)

New York
Location variable is deleted

NameError: name 'Location' is not defined

# EXplicit type casting

In [78]:
#Convert  float to int:
flt_to_int = int(flt) # convert float to int 
print(type(flt_to_int))

#Convert int to float:
int_to_float = float(quantity)

print(type(int_to_float))
    
# convert float to complex 
flt_to_cmplx = complex(flt) 
print(flt_to_cmplx)

NameError: name 'flt' is not defined

In [5]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# String Operatons

In [16]:
# Concatenation of strings
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2

# Printing the result
print(result)

Hello World

In [17]:
# String length
text = "Python Programming"
length = len(text)

# Printing the length
print("Length:", length)

Length: 18

In [84]:
y='MMCOE'
y[-1]

'E'

In [18]:
# String slicing
sentence = "This is a sample sentence."
substring = sentence[5:13]

# Printing the substring
print("Substring:", substring)

Substring: is a sam

In [85]:
# String formatting
name = "Alice"
age = 25
message = "My name is {} and I am {} years old.".format(name, age)

# Printing the formatted string
print(message)

print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.
My name is Alice and I am 25 years old.

In [20]:
# Uppercase and lowercase
text = "Python Programming"
uppercase_text = text.upper()
lowercase_text = text.lower()

# Printing the results
print("Uppercase:", uppercase_text)
print("Lowercase:", lowercase_text)

Uppercase: PYTHON PROGRAMMING
Lowercase: python programming

In [89]:
# String splitting
sentence = "This is a sample sentence."
words = sentence.split(' ')

# Printing the words
print("Words:", words)

Words: ['This is a sample sentence.']

In [90]:
# String replacement
original_text = "I like programming in Java."
modified_text = original_text.replace("Java", "Python")

# Printing the modified string
print("Modified Text:", modified_text)

Modified Text: I like programming in Python.

In [23]:
# Checking substring presence
sentence = "Python is powerful."
is_present = "is" in sentence

# Printing the result
print("Substring 'is' present:", is_present)

Substring 'is' present: True

# String Exercise

In [91]:
# Counting occurrences of a character
sentence = "Python is powerful."
char_to_count = "o"
count = sentence.count(char_to_count)

# Printing the result
print(f"The character '{char_to_count}' appears {count} times.")

The character 'o' appears 2 times.

In [25]:
# Capitalizing the first letter of each word
sentence = "python programming is fun"
capitalized_sentence = sentence.title()

# Printing the result
print("Original:", sentence)
print("Capitalized:", capitalized_sentence)

Original: python programming is fun
Capitalized: Python Programming Is Fun

In [93]:
y = 'i am mmcoe student'
y = y.title()
y

'I Am Mmcoe Student'

In [94]:
p= '''The Global Outbreak Alert and Response Network (GOARN) has launched a
GOARN COVID-19 Knowledge hub. The hub is designed as a central repository of
quality public health information, guidance, tools and webinars which can be
accessed freely at any point.'''
p= p.title()
p

'The Global Outbreak Alert And Response Network (Goarn) Has Launched A\nGoarn Covid-19 Knowledge Hub. The Hub Is Designed As A Central Repository Of\nQuality Public Health Information, Guidance, Tools And Webinars Which Can Be\nAccessed Freely At Any Point.'

In [95]:
# Removing whitespaces
text_with_whitespaces = "  Python Programming  "
trimmed_text = text_with_whitespaces.strip()

# Printing the result
print("Original:", text_with_whitespaces)
print("Trimmed:", trimmed_text)

Original:   Python Programming
Trimmed: Python Programming

In [97]:
# Joining strings from a list
words_list = ["Python", "is", "awesome"]
joined_sentence = " ".join(words_list)

# Printing the result
print("Joined Sentence:", joined_sentence)

Joined Sentence: Python is awesome

'MMCOEKarve'

In [99]:
# Joining strings from a list
words_list = ("Python","is", "awesome")
joined_sentence = " ".join(words_list)

# Printing the result
print("Joined Sentence:", joined_sentence)

Joined Sentence: Pythonis awesome

In [101]:
# Counting words in a sentence
sentence = "Python is an amazing programming language."
sentence.split()
word_count = len(sentence.split())
word_count

# Printing the result
print("Word Count:", word_count)

['Python', 'is', 'an', 'amazing', 'programming', 'language.']

In [24]:
str1 = "PYnative"
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

Yna PYnat tive PYnativ PYnativ

# Operators

In [27]:
a="durga"
b="durga"
print("a > b is ",a>b)
print("a >= b is ",a>=b)
print("a < b is ",a<b)

a > b is  False
a >= b is  True
a < b is  False

In [29]:
print(True>True) 
print(True>=True) 
print(10 >True) 
print(False > True) 
print(10>'durga')

False
True
True
False

TypeError: '>' not supported between instances of 'int' and 'str'

In [32]:
10<20 
10<20<30 
10<20<30<40
10<20<30<40>50

False

# Input Function

In [38]:
from sys import argv
print("The Number of Command Line Arguments:", len(argv))
print("The List of Command Line Arguments:", argv)
print("Command Line Arguments one by one:")
for x in argv:
    print(x)

The Number of Command Line Arguments: 3
The List of Command Line Arguments: ['C:\\Users\\kalya\\AppData\\Roaming\\Python\\Python311\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\kalya\\AppData\\Roaming\\jupyter\\runtime\\kernel-6d3cc5b6-a3b3-4641-b9ba-5c2dec2322f1.json']
Command Line Arguments one by one:
C:\Users\kalya\AppData\Roaming\Python\Python311\site-packages\ipykernel_launcher.py
-f
C:\Users\kalya\AppData\Roaming\jupyter\runtime\kernel-6d3cc5b6-a3b3-4641-b9ba-5c2dec2322f1.json

In [40]:
# take three values from user
name = input("Enter Employee Name: ")
salary = input("Enter salary: ")
company = input("Enter Company name: ")

# Display all values on screen
print("\n")
print("Printing Employee Details")
print("Name", "Salary", "Company")
print(name, salary, company)

Enter Employee Name: kalyani
Enter salary: 50000
Enter Company name: mmcoe


Printing Employee Details
Name Salary Company
kalyani 50000 mmcoe

In [41]:
# check Data type of input function
number = input("Enter roll number ")
name = input("Enter age ")

print("\n")
print('Roll number:', number, 'Name:', name)
print("Printing type of a input values")
print("type of number", type(number))
print("type of name", type(name))


#As you know whatever you enter as input, the input() function always converts it into a string.

Enter roll number 200
Enter age 30


Roll number: 200 Name: 30
Printing type of a input values
type of number <class 'str'>
type of name <class 'str'>

In [103]:
# program to calculate addition of two input integer numbers

# convert inout into int
first_number = int(input("Enter first number "))
second_number = int(input("Enter second number "))

print("\n")
print("First Number:", first_number)
print("Second Number:", second_number)
print("type of number", type(first_number))

sum1 = first_number + second_number
print("Addition of two number is: ", sum1)

Enter first number 50
Enter second number 80


First Number: 50
Second Number: 80
type of number <class 'int'>
Addition of two number is:  130

In [ ]:
# take Float value as input
marks = float(input("Enter marks "))
print("\n")
print("Student marks is: ", marks)
print("type is:", type(marks))

In [104]:
# Accept multiple input
name, age, marks = input("Enter your Name, Age, Percentage separated by space ").split()
print("\n")
print("User Details: ", name, age, marks)

Enter your Name, Age, Percentage separated by space yyy 60 70


User Details:  yyy 60 70

In [105]:
# list to store multi line input
# press enter two times to exit
data = []
print("Tell me about yourself")
while True:
    line = input()
    if line:
        data.append(line)
    else:
        break
finalText = '\n'.join(data)
print("\n")
print("Final text input")
print(finalText)

Tell me about yourself
hii
I am kalyani
MMCOE



Final text input
hii
I am kalyani
MMCOE

# Imagine you are managing a small online store, and you want to calculate the total revenue from the sales of three different products. Each product has a different price and quantity sold. 
Additionally, you want to check whether the total revenue exceeds a certain threshold to determine if you need to apply a discount.

In [ ]:
# Product 1
price_product1 = 25.50
quantity_product1 = 30

# Product 2
price_product2 = 19.99
quantity_product2 = 45

# Product 3
price_product3 = 10.75
quantity_product3 = 50

# Calculate total revenue
total_revenue = (price_product1 * quantity_product1) + (price_product2 * quantity_product2) + (price_product3 * quantity_product3)

# Threshold for applying a discount
discount_threshold = 1000

# Check if total revenue exceeds the discount threshold
apply_discount = total_revenue > discount_threshold

# Display the results
print("Product 1 Revenue:", price_product1 * quantity_product1)
print("Product 2 Revenue:", price_product2 * quantity_product2)
print("Product 3 Revenue:", price_product3 * quantity_product3)
print("Total Revenue:", total_revenue)

if apply_discount:
    print("Discount applies! Total revenue exceeds the threshold.")
else:
    print("No discount. Total revenue is within the threshold.")

In [44]:
# Item 1
item1_name = "Laptop"
item1_quantity = 2
item1_price = 899.99

# Item 2
item2_name = "Mouse"
item2_quantity = 3
item2_price = 19.99

# Item 3
item3_name = "Headphones"
item3_quantity = 1
item3_price = 49.99

# Calculate total cost for each item
item1_total_cost = item1_quantity * item1_price
item2_total_cost = item2_quantity * item2_price
item3_total_cost = item3_quantity * item3_price

# Calculate overall total cost
overall_total_cost = item1_total_cost + item2_total_cost + item3_total_cost

# Display item details and total cost
print(f"Item 1: {item1_name} - Quantity: {item1_quantity} - Price: ${item1_price} - Total Cost: ${item1_total_cost}")
print(f"Item 2: {item2_name} - Quantity: {item2_quantity} - Price: ${item2_price} - Total Cost: ${item2_total_cost}")
print(f"Item 3: {item3_name} - Quantity: {item3_quantity} - Price: ${item3_price} - Total Cost: ${item3_total_cost}")

print("\nOverall Total Cost: ${:.2f}".format(overall_total_cost))

Item 1: Laptop - Quantity: 2 - Price: $899.99 - Total Cost: $1799.98
Item 2: Mouse - Quantity: 3 - Price: $19.99 - Total Cost: $59.97
Item 3: Headphones - Quantity: 1 - Price: $49.99 - Total Cost: $49.99

Overall Total Cost: $1909.94

# ifelse

In [45]:
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

user_check(1)
user_check(2)
user_check(3)
user_check(4)

Admin
Editor
Guest
Wrong entry

In [46]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 20
Enter second number 50
20 is smaller than 50

# Example: add two matrices using nested loop

In [ ]:

X = [[12,9,3],
    [4,5,6],
    [7,8,3]]

Y = [[9,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]

for r in result:
    print(r)

# Function to calculate commission and total earnings

In [ ]:
def calculate_commission(name, base_salary, sales_amount):
    if sales_amount < 10000:
        commission_rate = 0.05
    elif 10000 <= sales_amount <= 50000:
        commission_rate = 0.08
    else:
        commission_rate = 0.10

    commission = commission_rate * sales_amount
    total_earnings = base_salary + commission

    return name, base_salary, sales_amount, commission_rate, commission, total_earnings

# Input for a salesperson
salesperson_name = input("Enter salesperson's name: ")
base_salary = float(input("Enter base salary: $"))
sales_amount = float(input("Enter sales amount: $"))

# Calculate and display commission details
name, salary, sales, rate, commission, total_earnings = calculate_commission(salesperson_name, base_salary, sales_amount)
print("\nCommission Details:")
print(f"Salesperson Name: {name}")
print(f"Base Salary: ${salary}")
print(f"Sales Amount: ${sales}")
print(f"Commission Rate: {rate * 100}%")
print(f"Commission: ${commission}")
print(f"Total Earnings: ${total_earnings}")

Write a program that computes the net amount of a bank account based on a transaction log from console input. The transaction log format is shown as follows: D 100 W 200 D means deposit while W means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

In [ ]:
netAmount = 0
while True:
    s = input()
    if not s:
        break
    values = s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation=="D":
        netAmount+=amount
    elif operation=="W":
        netAmount-=amount
    else:
        pass
print(netAmount)

D 300 D 300 W 200 D 100
D 300 D 300 W 200 D 100

A website requires the users to input username and password to register. Write a program to check the validity of password input by users. Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12 Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma. Example If the following passwords are given as input to the program: ABd1234@1,a F1#,2w3E*,2We3345 Then, the output of the program should be: ABd1234@1

In [117]:
import re
value = []
items=[x for x in input().split(',')]
for p in items:
    if len(p)<6 or len(p)>12:
        continue
    else:
        pass
    if not re.search("[a-z]",p):
        continue
    elif not re.search("[0-9]",p):
        continue
    elif not re.search("[A-Z]",p):
        continue
    elif not re.search("[$#@]",p):
        continue
    elif re.search("\s",p):
        continue
    else:
        pass
    value.append(p)
print(",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

In [114]:
import re

def is_valid_password(password):
    # Criteria for password validation
    lowercase_regex = re.compile(r'[a-z]')
    uppercase_regex = re.compile(r'[A-Z]')
    digit_regex = re.compile(r'[0-9]')
    special_char_regex = re.compile(r'[$#@]')
    length_range = range(6, 13)

    # Check if password meets all criteria
    if (
        lowercase_regex.search(password) and
        uppercase_regex.search(password) and
        digit_regex.search(password) and
        special_char_regex.search(password) and
        len(password) in length_range
    ):
        return True
    else:
        return False

# Input passwords separated by commas
input_passwords = input("Enter passwords separated by commas: ")

# Split the input passwords
passwords = input_passwords.split(',')

# Validate and print passwords that match the criteria
valid_passwords = [password for password in passwords if is_valid_password(password)]
print("Valid Passwords:", ', '.join(valid_passwords))

Enter passwords separated by commas: ABd1234@1,a F1#,2w3E*,2We3345
Valid Passwords: ABd1234@1

In [115]:
import re

def is_valid_password(password):
    # Define the regular expression pattern for password validation
    pattern = r"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$#@]).{6,12}$"
    
    # Use re.match to check if the password matches the pattern
    return bool(re.match(pattern, password))

# Input passwords as a comma-separated string
passwords_input = input("Enter passwords (comma-separated): ")

# Split the input into a list of passwords
passwords_list = passwords_input.split(',')

# Filter valid passwords using the is_valid_password function
valid_passwords = [password for password in passwords_list if is_valid_password(password)]

# Output the valid passwords separated by commas
print("Valid Passwords:", ",".join(valid_passwords))

Enter passwords (comma-separated): ABd1234@1,a F1#,2w3E*,2We3345
Valid Passwords: ABd1234@1

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1